{% extends 'templates/layout.html' %}
{% block content %}
{% if logged_in %}
<h2>Closest pubs</h2>
<form>
<div class="ui-grid-a">
  <div class="ui-block-a">
    <label for="visited-checkbox">Hide Visited</label>
    <input type="checkbox" id="visited-checkbox" onchange="hideVisited()" {%- if user.hide_visited %}checked{% endif %} />
  </div>
  <div class="ui-block-b">
    <label for="colleges-checkbox">Show Colleges</label>
    <input type="checkbox" id="colleges-checkbox" onchange="showColleges()" {%- if user.show_colleges %}checked{% endif %} />
  </div>
</div>
</form>
{% else %}
<h2>Nearby Pubs</h2>
<p><a href="/auth/login">Log in or sign up</a> to track which ones you've visited</p>
<p><a href="/people">Who has been to the most pubs?</a></p>
{% endif %}

<img id="loader" src="/assets/images/ajax-loader.gif"/>
<div id='loc-error'></div>

<div style="clear: both">&nbsp;</div>
<ul id="pub-list" data-role="listview">
</ul>
{% endblock %}

{% block script %}
<script type="text/javascript">
  var visitedHidden = {% if user.hide_visited %}true{% else %}false{% endif %};
  var collegesShown = {% if user.show_colleges %}true{% else %}false{% endif %};
  var location_;

  function hideVisited() {
    visitedHidden = $("#visited-checkbox").is(':checked');
    $('#loader').show();
    showPubs(location_);
  }

  function showColleges() {
    collegesShown = $("#colleges-checkbox").is(':checked');
    $('#loader').show();
    showPubs(location_);
  }

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPubs, locError, {'timeout':20000});
    } else {
      $('#loc-error').html('<p>Your browser does not support geolocation</p>');
      $('#loader').hide();
    }
  }

  function showPubs(location) {
    location_ = location;
    var url = '/ajax/nearby?lat=' + location.coords.latitude + '&long=' + location.coords.longitude;
    if (visitedHidden) {
      url += "&hide-visited=1";
    }
    if (collegesShown) {
      url += "&show-colleges=1";
    }
    $.get(url, function(data) {
      var list = $('#pub-list');
      var json = $.parseJSON(data);
      var html = '';
      $.each(json, function(i, pub) {
        html = html + '<li><a href="/pub/' + pub.id + '">' + pub.name + '</a></li>';
      });
      $('#pub-list').html(html);
      $('#pub-list').listview('refresh');
      $('#loader').hide();
    });
  }
  
  function locError(error) {
    var msg = '';
    switch(error.code) {
      case error.PERMISSION_DENIED:
        msg = 'We need access to your location to show the closest pubs.';
        break;
      case error.POSITION_UNAVAILABLE:
        msg = 'Could not find your location.';
        break;
      case error.TIMEOUT:
        msg = 'Location request timed out.';
        break;
      case error.UNKNOWN_ERROR:
        msg = 'Something went wrong.';
        break;
    }
    $('#loc-error').html('<p>' + msg + '</p>');
    $('#loader').hide();
  }
  
  $(function() {
    getLocation();
  });
</script>
{% endblock %}
