{% extends 'templates/layout.html' %}

{% block content %}
<h1>{{pub.name}}</h1>
<p>Visited by {{visit_count}} people</p>

{% if user %}
<form>
  <label for="visited">I've been here</label>
  <input id="visited" type="checkbox" name="visited" {% if visited %} checked {% endif %}>
</form>
<p>&nbsp;</p>
{% endif %}

<ul data-role="listview">
  {% if visit_count > 0 %}
  <li><a href="/pub/{{pub.key().id()}}/visitors">People who have been here</a></li>
  {% endif %}
  {% if lat and long %}
  <li><a href="http://maps.google.co.uk/maps?q={{lat}},{{long}}">Map</a></li>
  {% endif %}
</ul>

{% endblock %}

{% block script %}
<script type="text/javascript">
  function setVisited() {
    data = {'pub_id':{{pub.key().id()}}};
    if ($('#visited').is(':checked')) {
      data['visited'] = $('#visited').val();
    }
    $.post('/ajax/visitpub', data);
  }
  $(function() {
    $('#visited').change(function() {setVisited();});
  });
</script>
{% endblock %}