{% extends 'templates/layout.html' %}

{% block content %}

{% for visit in visited %}
{% if loop.first %}
{% if own_page %}
<h1>Pubs I've Visited</h1>
{% else %}
<h1>Pubs Visited by {{user.name}}</h1>
{% endif %}
<ul data-role="listview">
{% endif %}
  <li><a href='/pub/{{visit.pub.key().id()}}'>{{visit.pub.name}}</a></li>
{% if loop.last %}
</ul>
{% endif %}
{% endfor %}

{% for visit in not_visited %}
{% if loop.first %}
<h1>Still to Visit</h1>
<ul data-role="listview">
{% endif %}
  <li><a href='/pub/{{visit.pub.key().id()}}'>{{visit.pub.name}}</a></li>
{% if loop.last %}
</ul>
{% endif %}
{% endfor %}

{% endblock content %}