{% extends 'templates/layout.html' %}

{% block content %}

<ul data-role="listview" data-filter="true" data-filter-placeholder="Find a pub..." data-filter-theme="a">
{% for visit in visited %}
{% if loop.first %}
{% if own_page %}
<li data-role="list-divider" data-theme="b">Pubs I've Visited</li>
{% else %}
<li data-role="list-divider" data-theme="b">Pubs Visited by {{user.name}}</li>
{% endif %}
{% endif %}
  <li><a href='/pub/{{visit.pub.key().id()}}'>{{visit.pub.name}}</a></li>
{% endfor %}

{% for visit in not_visited %}
{% if loop.first %}
<li data-role="list-divider" data-theme="b">Still to Visit</li>
{% endif %}
  <li><a href='/pub/{{visit.pub.key().id()}}'>{{visit.pub.name}}</a></li>
{% endfor %}
</ul>

{% endblock content %}