#menu-button {
  height: 40px;
  width: 40px;
  background: url(images/hamburger.png) no-repeat;
  border: none !important;
  box-shadow: none !important;
}

#facebook-button {
  width: 216px;
  height: 42px;
  background: url(images/facebook-button-m.png) no-repeat;
  padding: 0px;
  margin-bottom: 5px;
}